ul#MenuP{
	margin:0px;
 	padding:0px;
 	font-family:Raavi;
 	font-size:11px;
 	list-style:none;
}
ul#MenuP li{
	 width: 200px;
}

ul#MenuP li .principal {
	 width: 100px;
	 background-color:#FFFFFF;
	}
ul#MenuP li .principal:hover{
	background-color:#fff;
	}
	

ul#MenuP a{
 display:block;
 padding:3px;
 cursor:pointer;
 color:#000;
 text-decoration:none;
}
.tudo{
	 display:block;
 padding:3px;
 cursor:pointer;
 color:#000;
 text-decoration:none;
}
ul#MenuP  a{
 background-color:#F7EB24;
 padding-left:20px;
 margin-bottom:0px;
 border:0px;
}
ul#MenuP li a:hover{
 background-color:#1C489A;
}
ul#MenuP .menu{
 border-left:1px solid #F7EB24;
 border-right:1px solid #F7EB24;
 padding:3px;
 background-color:#F7EB24;
 
}
ul#MenuP .menu a{
 background-color:#52B647;
 padding-left:19px;
 margin-bottom:0px;
 border:0px;
}
ul#MenuP .menu a:hover{
 background-color:#F7EB24;
}

ul#MenuP .menu .sub-menu{
 border-left:1px solid #52B647;
 border-right:1px solid #52B647;
 padding:3px;
 background-color:#52B647;
 width: 170px;
}
ul#MenuP .menu .sub-menu a{
 background-color:#1C489A;
 padding-left:19px;
 margin-bottom:0px;
 border:0px;
}
ul#MenuP .menu .sub-menu a:hover{
 background-color:#52B647;
}
#apDiv1 {
	position: absolute;
	left: 308px;
	top: 33px;
	width: 215px;
	height: 97px;
	z-index: 1;
}
#bc{
	position:relative;
}
