.back1 {  	
   width: 199px;  	
  height: 234px;   
overflow:auto;
position:relative;
background-color:#1C489A;
text-align:center;
}


.back2 {  	
  width: 204px;  	
  height: 147px;  
overflow:auto;
position:relative;
background-color:#CE2432;
text-align:center;
}

.back3 {  	
   width: 190px;  	
  height: 137px; 
overflow:auto;
 
background-color:#ED4C23;
text-align:center;
}

